{% if user.is_authenticated %}

<div class="row">
    <ul class="nav nav-tabs  mt-2">
        <li class="nav-item">
            <a href="{% url 'posts:index' %}" 
               class="nav-link text-dark {% if index %}active{% endif %}">
                Все посты
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'posts:follow_index' %}" 
               class="nav-link text-dark {% if follow %}active{% endif %}">
                Избранное
            </a>
        </li>
    </ul>
</div>

{% endif %}