{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %} 
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе
                              </div> 
                              <div>
                                <img src="{% static 'img/my_photo.jpeg' %}" alt="My photo" class="img-thumbnail">
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="h6">
                                <p><span class="text-muted">Мой телефон:</span></p>
                                <p> +7 951 111 02 64</p>
                                <p><a class="btn btn-primary btn-block" href="https://vk.com/emelyaart">Профиль в VK</a></p>
                                <p><a class="btn btn-dark btn-block" href="https://github.com/emelyaart">Мой Github</a></p>

                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                    <h2>Привет друг!</h2>
                    <p>Меня зовут Емельянов Антон и я автор этого проекта!</p>
                    <br>
                    <h4>Откуда я:</h4>
                    <p>
                        <b>Страна:</b> Россия <br>
                        <b>Город:</b> Челябинск
                    </p>
                    <h4>Чем я занимаюсь:</h4>
                    <p>
                        <b>Работа:</b> Заместитель директора в типографии <br>
                        <b>Хобби:</b> Программирование | Arduino | Железки
                    </p>
                    <h4>Немного обо мне:</h4>
                    <p>Я родился и вырос в Челябинске.</p>
                    <p>
                        С детства у меня технологический склад ума. 
                        Всегда были интересны всякие механические и электрические штуки.
                        Помогал братьям чинить игрушки и велосипеды :)
                        Не обходилось при этом и без неудачных проектов (Знатно получал по шее от отца, за сломанные игрушки).
                        Позже в школе любимыми предметами стали физика, математика и химия. Позже информатика (По-моему началась класса с 5-6, не помню точно)
                        Как раз к 5-6 классу у меня появился первый компьютер.
                        Компьютерные игры (Quake II, Fallout 1, Diablo 1) <br>
                        Естественно я захотел стать программистом и делать компьютерные игры! :) <br>
                        Но! Как и бывает в жизни, оно случилось... <br>
                        Жизнь закинула меня в художественное училище где я с гордостью получил диплом "Исполнителя художественных работ".
                        После началась работа, грузчик, кладовщик, сисадмин... <br>
                        Пока не устроился оператором ПК в копицентр. Так я и познакомился с полиграфическим бизнесом и уже 11 лет варюсь в нём. <br>
                        Но к сожалению отрасль потихоньку умирает и пока мозг еще не совсем очерствел, решил все таки связать свою жизнь с IT и выучить наконец хотя бы один язык программирования. <br> 
                        Вообще я никогда не опускал надежду стать программистом, всегда интересовала эта тема, время от времени я пытался
                        учиться самостоятельно. проходил курсы на сайтах, смотрел курсы на ютубе. Пробовал разные языки, PHP, JS.
                        Но то ли не хватало самодисциплины, то ли систематизации знаний, к сожалению к переходу к другой профессии эти попытки так и не привели.
                        Сейчас, учась на практикуме, доволен всем. Здесь есть все чего так не хватало - комьюнити, ревьюеры, наставники, четкий план к цели. <br>
                        Надеюсь в этот раз все получится!
                    
                    </p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %} 