{% extends 'base.html' %} 
{% block title %}Профиль пользователя {{ author.username }}{% endblock %} 
{% block content %} 
{% load thumbnail %}
<main role="main" class="container">
    <div class="row">
        {% include "posts/profile_card.html" %}
        <div class="col-md-9">
            {% for post in page %} 
            {% include "posts/post_item.html" with post=post %} 
            {% endfor %} 
            {% include 'paginator.html' %}
        </div>
    </div>
</main>

{% endblock %}
